footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
}

.left {
  width: 50%;
  display: flex;

  flex-direction: column;
  align-items: last baseline;
}
